*{
      margin:0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
}

.hero{
      width:100%;
      height:100%;
      position:relative;
      display: grid;
}

#calendar{
      position: static;
      width:80%;
      clear: both;
      position:relative;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
}

body {
      text-align: center;
      background: #030303;
      font-family: sans-serif;
      font-weight: 100;
}

h1 {
      color: rgb(247, 247, 247);
      font-weight: 100;
      font-size: 40px;
      margin: 40px 0px 20px;
}

#clockdiv {
      position: static;
      font-family: sans-serif;
      clear: both;
      align-items: top;
      color: #fff;
      display: inline-block;
      font-weight: 100;
      text-align: center;
      font-size: 30px;
}

#clockdiv>div {
      padding: 10px;
      border-radius: 3px;
      background: #00BF96;
      display: inline-block;
}

#clockdiv div>span {
      padding: 15px;
      border-radius: 3px;
      background: #00816A;
      display: inline-block;
}

smalltext {
      padding-top: 5px;
      font-size: 16px;
}

